<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            Flasky- {{ title }}
        {% else %}
             Flasky
        {% endif %}
    </title>
</head>
<body>
    <div>FlaskyBlogy: 
        
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        {% endif %}  
    </div>
    </hr>

    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    {% endwith %}
    {% block content %}
    
    {% endblock content %}
</body>
</html>